{% extends "base.html" %}

{% block title %}Agregar Cliente{% endblock %}

{% block content %}
    <h1 class="mt-5">Agregar Cliente</h1>
    <form action="/agregar_cliente" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" pattern="[A-Za-z ]+" required>
            <div class="invalid-feedback">Solo se permiten letras.</div>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" required>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" pattern="[0-9]{9}" required>
            <div class="invalid-feedback">Solo se permiten 9 números.</div>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
            <div class="invalid-feedback">Ingrese un correo electrónico válido.</div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button> 
        <a href="/clientes" class="btn btn-secondary">Cancelar</a>
    </form>

    <script>
        // Validación adicional en el lado del cliente usando JavaScript
        document.getElementById('nombre').addEventListener('input', function() {
            this.value = this.value.replace(/[^A-Za-z ]/g, '');
        });

        document.getElementById('telefono').addEventListener('input', function() {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        document.getElementById('direccion').addEventListener('input', function() {
            const regex = /^[a-zA-Z0-9\s,.-]*$/;
            if (!regex.test(this.value)) {
                this.setCustomValidity('Ingrese una dirección válida.');
            } else {
                this.setCustomValidity('');
            }
        });

        document.getElementById('correo').addEventListener('input', function() {
            const regex = /^\S+@\S+\.\S+$/;
            if (!regex.test(this.value)) {
                this.setCustomValidity('Ingrese un correo electrónico válido.');
            } else {
                this.setCustomValidity('');
            }
        });
    </script>
{% endblock %}
