<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            padding: 40px;
        }

        .container {
            max-width: 100%;
            max-height: 100%;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>
</head>
<body>
    </div>
        <a href="/inicio" class="btn btn-primary logout-btn"><i class="fas fa-chevron-left"></i> Atras</a>    </div>
    <div class="container">
        <h1>Clientes</h1> 
        <form method="GET" action="/buscar_cliente" class="from-inline">
            <div class="form-group mr-2">
                <input type="text" class="form-control" id="nombre" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+" title="Ingrese un nombre válido">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
             <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>
                    <a href="/clientes/editar/{{ cliente[0] }}" class="btn btn-primary btn-sm">Editar</a>
                        <form action="/clientes/eliminar/{{ cliente[0] }}" method="post" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>        </table>

        <a href="/clientes/ingresar" class="btn btn-primary">Agregar cliente</a>
    </div> 

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


