{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1 class="mt-5">Clientes</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="/agregar_cliente" class="btn btn-primary">Agregar Cliente</a>
    </div>
    <form action="/buscar_cliente" method="POST" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="busqueda" placeholder="Buscar cliente...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>
                    <a href="/editar_cliente/{{ cliente[0] }}" class="btn btn-primary btn-sm">Editar</a>
                    <form action="/eliminar_cliente/{{ cliente[0] }}" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}




