{% extends "base.html" %}

{% block title %}Facturas{% endblock %}

{% block content %}
    <h1 class="mt-5">Facturas</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="/agregar_factura" class="btn btn-primary">Agregar Facturas</a>
    </div>
    <form action="/buscar_factura" method="POST" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="busqueda" placeholder="Buscar Factura...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form> 

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Sucursal</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{ factura[0] }}</td>
                <td>{{ factura[1] }}</td>
                <td>{{ factura[2] }}</td>
                <td>{{ factura[3] }}</td>
                <td>{{ factura[4] }}</td>
                <td>
                    <a href="/generar_pdf/{{ factura[0] }}" class="btn btn-primary">Descargar</a>
                    <a href="/editar_factura/{{ factura[0] }}" class="btn btn-primary btn-sm">Editar</a>
                    <form action="/eliminar_factura/{{ factura[0] }}" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


