{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Sistema de Facturación</h1>
            <p class="lead">Bienvenido al sistema de facturación. Desde aquí podrás gestionar tus facturas, clientes y productos.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card rounded shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-file-invoice"></i> Facturas</h2>
                        <p class="card-text">Accede a la gestión de facturas para crear, buscar y ver detalles de las facturas.</p>
                        <a href="/facturas" class="btn btn-primary">Gestionar Facturas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card rounded shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-users"></i> Clientes</h2>
                        <p class="card-text">Accede a la gestión de clientes para crear, buscar y ver detalles de los clientes.</p>
                        <a href="/clientes" class="btn btn-primary">Gestionar Clientes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card rounded shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-box"></i> Productos</h2>
                        <p class="card-text">Accede a la gestión de productos para crear, buscar y ver detalles de los productos.</p>
                        <a href="/productos" class="btn btn-primary">Gestionar Productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


